body, .wrapper{
    padding-top: 25px;
}

.col-md-7{
	padding-left: 30px;
}

.hidden {
    display: none;
}

tr{
	cursor: pointer;
}

ul{
	padding-left: 0px;
}

li{
	list-style: none;
}

h2, h3, h5{
	margin: 30px;
}

.sidebar-wrapper{
	background: #222222;
}

.active{
	background: #000;
}

.btn{
	padding: 6px 12px;
}

.dropdown-design{
	background-color: #222222;

}
.fb{
	width: 100%;
	margin: 25px auto 0px auto;
	text-align: center;
}

.content-header, #subtitle-header{
	text-align: center;
	height: auto;
	padding: 0px;
}

.col-md-12{
	margin-top: 30px;
}

#description-content{
	border-bottom: 1px solid #e9e9e9;
	text-align:justify;
}

#back-btn{
	float:right;
	margin-right:20px;
}